body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #e0c35b, #f5eec9);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #be0909;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
